.feed-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feed-items__item {
  margin: 0;
  padding: 0;
}

.feed-items__source {
  background-color: #dfb746;
  margin: 0;
  padding: 0.5em;
  text-align: center;
}

.feed-items__source__text {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}
