.feed-source {
  background-color: #fff;
  margin: 15px 0;
  padding: 20px 15px;
  border-radius: 3px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.05);
}

.feed-source__flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.feed-source__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto 0 0;
}

.feed-source__action {
  background-color: #4673df;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.1em;
  line-height: 1;
  color: #fff;
  min-width: 40px;
  margin-left: 5px;
  padding: 10px 0;
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.feed-source__action:hover {
  background-color: #244fb7;
}

.feed-source__action--alt {
  background-color: #ff4500;
}

.feed-source__action--alt:hover {
  background-color: #cc4500;
}
