.feed-adder {
  background-color: #2b2b2b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.feed-adder__input {
  background-color: rgba(255, 255, 255, 0.3);
  font-family: inherit;
  font-size: 1rem;
  color: #fff;
  display: block;
  width: 100%;
  padding: 7px 10px;
  border: none;
  border-radius: 3px;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

.feed-adder__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.3s ease-in-out;
}

.feed-adder__input:focus {
  background-color: #fff;
  color: #2b2b2b;
}

.feed-adder__input:focus::placeholder {
  color: #777;
}
