.header {
  background-color: #2b2b2b;
  color: #fff;
  padding: 10px 0;
 }

.header__flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 1.2rem;
  margin: 0;
}

.header__nav {
  margin: 0;
}

.header__nav__items {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.header__nav__item {
  margin: 0 5px;
  padding: 0;
}

.header__nav__item:first-of-type {
  margin-left: 0;
}

.header__nav__item:last-of-type {
  margin-right: 0;
}

.header__nav__link {
  text-decoration: none;
  color: #fff;
}

.header__nav__link:hover {
  text-decoration: underline;
}
